body{
    background: #44A08D; 
    background: -webkit-linear-gradient(to right, #093637, #44A08D);  
    background: linear-gradient(to right, #093637, #44A08D); 
  }

  h2{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
  
  ul{
   font-size: 20px;
  }