@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background-color: rgb(30, 30, 30);
    color: rgb(200, 200, 200);
    font-family: 'Lato', sans-serif;
    margin:0;
    padding:0;
 }

 #web-animation {
    background-color: black;
    border:crimson solid 4px;
    width:200px;
    height:200px;
    margin:5rem;
}




 