* {
    margin: 0;
    padding: 0;
  }

 .container {
    width: 60%;
    margin: 0 auto;
  }

  .container div {
    min-height: 300px;
    background: #eee;
    position: absolute;
    top: -340px;
    width: 100%;
    border-bottom: 5px solid #eee;
  }

  button {
    width: 300px;
    line-height: 40px;
    background: #eee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 auto;
    display: block;
    position: relative;
  }

  .container div.collapse{
    top:-340px;
    position: absolute;
  }

  .container div.expand{
    top:0;
    position: relative;
  }